body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
body {
           /* Pievienojiet attēlu kā fona attēlu */
  background-image: url("../images/backgr.jpg"); /* Aizstājiet ar savu attēla ceļu */
  background-size: cover;  /* Attēls pārklāj visu ekrānu */
  background-position: center;  /* Attēls tiek centrēts */
  background-attachment: fixed;  /* Fons paliek fiksēts, kad lapa tiek ritināta */
  margin: 0;
  padding: 0;
}

/* Full height image header */
.lapa1 .bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/macbookpic.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.attels {
            margin-bottom: 100px; /* Šeit vari mainīt vērtību, lai kontrolētu atstarpi */
        }

.kreisa-mala {
            text-align: left;
        }
        
.w3-hide-large {
  display: none;
}

/* Paslēpt izvēlnes pogu uz vidējiem ekrāniem */
.w3-hide-medium {
  display: none;
}

/* Atļaut pogas parādīšanos uz maziem ekrāniem */
@media screen and (max-width: 768px) {
  .w3-hide-large {
    display: block;
  }
  .w3-hide-medium {
    display: block;
  }
}


